<p-table [value]="attendances" [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Student ID</th>
      <th>Status</th>
      <th>Date</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-attendance>
    <tr>
      <td>{{attendance.student.id}}</td>
      <td>{{attendance.status}}</td>
      <td>{{attendance.date | date:'MMM d, yyyy'}}</td>
      <td>
        <b>{{ attendance.student.firstName }}, {{ attendance.student.lastName }}</b>
        <br>
        {{ attendance.notes ? attendance.notes : 'N/A' }}
      </td>
      <td>
        <p-button icon="pi pi-pencil" (onClick)="editAttendance(attendance)" styleClass="p-button-rounded p-button-text"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
