<div class="grid">
  <div class="col-12 xl:col-9">
    <p-card header="Today's Attendance" styleClass="shadow-3">
      <div class="p-fluid grid">
        <div class="col-12 md:col-3">
          <p-dropdown
            [options]="classrooms"
            [(ngModel)]="selectedClassroom"
            (onChange)="onFilterChange($event)"
            placeholder="Select Classroom"
            [showClear]="true"
            [disabled]="!!selectedStudent"
          >
            <ng-template let-classroom pTemplate="item">
              {{ classroom.classroomName }}
            </ng-template>
            <ng-template pTemplate="selectedItem" let-classroom>
              {{ classroom.classroomName }}
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3">
          <p-dropdown
            [options]="gradeLevels"
            [(ngModel)]="selectedGradeLevel"
            (onChange)="onFilterChange($event)"
            placeholder="Select Grade Level"
            [showClear]="true"
            [disabled]="!!selectedStudent"
          >
            <ng-template let-gradeLevel pTemplate="item">
              {{ gradeLevel.name }}
            </ng-template>
            <ng-template pTemplate="selectedItem" let-gradeLevel>
              {{ gradeLevel.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3">
          <p-dropdown
            [options]="strands"
            [(ngModel)]="selectedStrand"
            (onChange)="onFilterChange($event)"
            placeholder="Select Strand"
            [showClear]="true"
            [disabled]="!!selectedStudent"
          >
            <ng-template let-strand pTemplate="item">
              {{ strand.name }}
            </ng-template>
            <ng-template pTemplate="selectedItem" let-strand>
              {{ strand.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3">
          <p-autoComplete
            [(ngModel)]="selectedStudent"
            [suggestions]="filteredStudents"
            (completeMethod)="onStudentSearch($event)"
            (onSelect)="onStudentSelect($event)"
            field="firstName"
            [dropdown]="true"
            placeholder="Search Student"
          >
            <ng-template let-student pTemplate="item">
              {{ student.firstName }} {{ student.lastName }}
            </ng-template>
            <ng-template pTemplate="selectedItem" let-student>
              {{ student.firstName }} {{ student.lastName }}
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
      <app-attendance-table
        [attendances]="todayAttendances"
        (onEdit)="openEditDialog($event)"
      ></app-attendance-table>
    </p-card>
  </div>
  <div class="col-12 xl:col-3">
    <app-manual-attendance-input
      (onSubmit)="addAttendance($event)"
    ></app-manual-attendance-input>
  </div>
</div>

<p-dialog
  header="Edit Attendance"
  [(visible)]="editDialogVisible"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <app-edit-attendance-form
    [attendance]="selectedAttendance"
    (onSave)="updateAttendance($event)"
  ></app-edit-attendance-form>
</p-dialog>
