<p-panel header="Daily Attendance Report">
  <!-- add dropdown at the end of the header -->
  <ng-template pTemplate="icons">
    <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu [popup]="true" [model]="this.chartDaysOptions"></p-menu>
  </ng-template>
  @if (this.loading) {
    <div class="text-center">
      <p-progressSpinner ariaLabel="loading"/>
    </div>
  } @else {
    <p-chart type="bar" [data]="this.data" [options]="this.options"></p-chart>
  }
</p-panel>
