<p-card styleClass="shadow-3 h-full" subheader="List of Absent Students for Today">
  <div class="grid w-full">
    <div class="w-full overflow-auto" style="height: 32rem;">
      @if (this.absentStudents === undefined || this.absentStudents.length === 0) {
        <div class="col-12">
          <div
            class="border-1 border-round border-green-300 p-3 w-full flex flex-row justify-content-center">
            <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
            <span class="block text-green-700 font-medium">No Absent Students</span>
          </div>
        </div>
      }
      @for (student of this.absentStudents; track $index) {
        @if (student.sex === Sex.MALE) {
          <div class="col-12">
            <div class="border-1 border-round border-blue-500 p-3 w-full flex justify-content-between flex-row">
              <span class="block text-500 font-medium">{{ student.lastName }}, {{ student.firstName }}
                , {{ student.lastName }}</span>
              <span class="block text-500 font-medium text-blue-500">{{ student.sex }}</span>
            </div>
          </div>
        } @else {
          <div class="col-12">
            <div class="border-1 border-red-500 border-round p-3 w-full flex justify-content-between flex-row">
              <span class="block text-500 font-medium">{{ student.lastName }}, {{ student.firstName }}
                , {{ student.lastName }}</span>
              <span class="block text-500 font-medium text-red-500">{{ student.sex }}</span>
            </div>
          </div>
        }
      }
    </div>
    @if (this.absentStudents !== undefined && this.absentStudents.length > 0) {
      <div class="col-12">
        <div class="border-1 border-round border-green-300 p-3 w-full flex flex-row justify-content-center">
          <span class="block font-medium">Male: {{ this.maleAbsentCount }}, </span>
          <span class="block font-medium">Female: {{ this.femaleAbsentCount }}, </span>
          <span class="block font-medium">Total: {{ this.absentStudents.length }}</span>
        </div>
      </div>
    }
  </div>
</p-card>
