<p-toast/>
<div class="background-overlay">
  <div class="container">
    <div class="grid">
      <div class="col-12 justify-content-center flex">
        <p-card subheader="Standalone Senior High School in Valenzuela" styleClass="login-card"
                class="flex text-center">
          <ng-template pTemplate="header" class="justify-content-center">
            <div class="card-header-img">
              <img ngSrc="/school-logo.png" alt="" width="256" height="256" priority>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid">
              <form (ngSubmit)="this.login()" [formGroup]="this.loginForm">
                <div class="col-12 mb-2">
                  <p-iconField>
                    <p-inputIcon styleClass="pi pi-user">
                    </p-inputIcon>
                    <input type="text" formControlName="username" pInputText class="w-23rem" placeholder="Username">
                  </p-iconField>
                </div>
                <div class="col-12 mb-2">
                  <p-iconField>
                    <p-inputIcon styleClass="pi pi-lock"></p-inputIcon>
                    <input type="password" formControlName="password" pInputText class="w-23rem" placeholder="Password">
                  </p-iconField>
                </div>
                <div class="col-12">
                  <p-button icon="pi pi-sign-in" label="Sign in" type="submit" severity="success"
                            [disabled]="!this.loginForm.valid" outlined raised></p-button>
                </div>
              </form>
            </div>
            <p-divider></p-divider>
            <a>Forgot Password</a>
            <p>© All Rights Reserved</p>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
