<div class="background-overlay">
  <div class="container">
    <div class="grid">
      <div class="col-12 justify-content-center flex">
        <p-card class="flex text-center" styleClass="login-card"
                subheader="Standalone Senior High School in Valenzuela">
          <ng-template class="justify-content-center" pTemplate="header">
            <div class="card-header-img">
              <img alt="" height="256" ngSrc="/school-logo.png" priority width="256">
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid">
              <form (ngSubmit)="this.login()" [formGroup]="this.loginForm">
                <div class="col-12 mb-2">
                  <p-iconField>
                    <p-inputIcon styleClass="pi pi-user">
                    </p-inputIcon>
                    <input autocomplete="username" class="w-23rem" formControlName="username" pInputText placeholder="Username"
                           type="text">
                  </p-iconField>
                </div>
                <div class="col-12 mb-2">
                  <p-iconField>
                    <p-inputIcon styleClass="pi pi-lock"></p-inputIcon>
                    <input autocomplete="current-password" class="w-23rem" formControlName="password" pInputText
                           placeholder="Password" type="password">
                  </p-iconField>
                </div>
                <div class="col-12">
                  <p-button [disabled]="!this.loginForm.valid" icon="pi pi-sign-in" label="Sign in" outlined
                            raised severity="success" type="submit"></p-button>
                </div>
              </form>
            </div>
            <p-divider></p-divider>
            <a>Forgot Password</a>
            <p>© All Rights Reserved</p>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
