<p-confirmDialog [closable]="false" styleClass="w-30rem h-13rem"/>

<div class="grid">
  <div class="col-12 lg:col-6 xl:col-4">
    <app-total-strands-card
      [totalStrands]="strands.length"
    ></app-total-strands-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <app-most-popular-strand-card
      [popularStrand]="mostPopularStrand?.strandName ?? 'Unknown'"
    ></app-most-popular-strand-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <app-avg-students-strand-card
      [avgStudents]="averageStudentsPerStrand"
    ></app-avg-students-strand-card>
  </div>

  <!-- Charts -->
  <div class="col-12 lg:col-6">
    <p-card header="Strand Distribution" styleClass="mb-2 shadow-3">
      <p-chart
        [data]="strandDistributionData"
        [options]="chartOptions"
        type="pie"
      ></p-chart>
    </p-card>
  </div>
  <div class="col-12 lg:col-6">
    <p-card header="Strand Popularity Trend" styleClass="mb-2 shadow-3">
      <div style="height: 300px">
        <p-chart
          [data]="strandPopularityData"
          [options]="chartOptions"
          style="width: 100%; height: 100%"
          type="line"
        ></p-chart>
      </div>
    </p-card>
  </div>

  <!-- Strands Table -->
  <div class="col-12">
    <p-table
      [paginator]="true"
      [rows]="10"
      [value]="strands"
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Student Count</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template let-strand pTemplate="body">
        <tr>
          <td>{{ strand.strand.name }}</td>
          <td>{{ strand.strand.description }}</td>
          <td>{{ strand.studentCount }}</td>
          <td>
            <div class="flex gap-1">
              <p-button
                (click)="displayEditStrandDialog = true; strandSelected = strand.strand"
                icon="pi pi-pencil"
                severity="info"
                rounded
              ></p-button>
              <p-button
                (click)="deleteStrand(strand.strand, $event)"
                severity="danger"
                rounded
                icon="pi pi-trash"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="flex justify-content-between mt-2">
      <p-button icon="pi pi-plus" label="Add Strand"
                severity="success" (click)="displayCreateStrandDialog = true"/>
      <p-button icon="pi pi-download" label="Export Data"
                severity="info"></p-button>
    </div>
  </div>
</div>
<app-edit-strand-dialog [(visible)]="this.displayEditStrandDialog" [strand]="this.strandSelected"
                        (editedStrand)="this.editStrand($event)"/>
<app-create-strand-dialog [(visible)]="this.displayCreateStrandDialog" (createdStrand)="this.createStrand($event)"/>
