<div class="grid">
  <div class="col-12 lg:col-6 xl:col-4">
    <app-total-strands-card
      [totalStrands]="strands.length"
    ></app-total-strands-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <app-most-popular-strand-card
      [popularStrand]="mostPopularStrand?.strandName ?? 'Unknown'"
    ></app-most-popular-strand-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <app-avg-students-strand-card
      [avgStudents]="averageStudentsPerStrand"
    ></app-avg-students-strand-card>
  </div>

  <!-- Charts -->
  <div class="col-12 lg:col-6">
    <p-card header="Strand Distribution" styleClass="mb-2 shadow-3">
      <p-chart
        [data]="strandDistributionData"
        [options]="chartOptions"
        type="pie"
      ></p-chart>
    </p-card>
  </div>
  <div class="col-12 lg:col-6">
    <p-card header="Strand Popularity Trend" styleClass="mb-2 shadow-3">
      <div style="height: 300px">
        <p-chart
          [data]="strandPopularityData"
          [options]="chartOptions"
          style="width: 100%; height: 100%"
          type="line"
        ></p-chart>
      </div>
    </p-card>
  </div>

  <!-- Strands Table -->
  <div class="col-12">
    <p-table
      [paginator]="true"
      [rows]="10"
      [value]="strands"
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Student Count</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template let-strand pTemplate="body">
        <tr>
          <td>{{ strand.strand.name }}</td>
          <td>{{ strand.strand.description }}</td>
          <td>{{ strand.studentCount }}</td>
          <td>
            <button
              (click)="editStrand(strand)"
              class="p-button-rounded p-button-success mr-2"
              icon="pi pi-pencil"
              pButton
            ></button>
            <button
              (click)="deleteStrand(strand)"
              class="p-button-rounded p-button-danger"
              icon="pi pi-trash"
              pButton
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Strand Dialog -->
<p-dialog
  [(visible)]="strandDialog"
  [modal]="true"
  [style]="{ width: '450px' }"
  header="Strand Details"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        [(ngModel)]="strandSelected.name"
        autofocus
        id="name"
        pInputText
        required
        type="text"
      />
      @if (submitted && !strandSelected.name) {
        <small class="p-error" *ngIf="submitted && !strandSelected.name"
        >Name is required.</small
        >
      }
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        [(ngModel)]="strandSelected.description"
        cols="20"
        id="description"
        pInputTextarea
        required
        rows="3"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      (click)="hideDialog()"
      class="p-button-text"
      icon="pi pi-times"
      label="Cancel"
      pRipple
    ></p-button>
    <p-button
      (click)="saveStrand()"
      class="p-button-text"
      icon="pi pi-check"
      label="Save"
      pRipple
    ></p-button>
  </ng-template>
</p-dialog>
