<p-card styleClass="shadow-3 h-full" subheader="List of Students">
  <div>
    <p-table
      [value]="this.students"
      [rowHover]="true"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [globalFilterFields]="['lastName', 'sex']"
      scrollable
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" pSortableColumn="lastName">Name</th>
          <th scope="col" pSortableColumn="sex">Sex</th>
          <th scope="col">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        <tr>
          <td>
            {{ student.lastName }}, {{ student.firstName }},
            {{ student.middleInitial }}
          </td>
          <td>{{ student.sex }}</td>
          <td>
            <p-button
              icon="pi pi-eye"
              (onClick)="this.viewStudent(student)"
              size="small"
              severity="success"
              outlined
              rounded
            >
            </p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" colspan="3">No records found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>

<app-student-view-dialog
  [student]="selectedStudent"
  [visible]="showStudentDialog"
  (visibleChange)="closeStudentDialog()"
>
</app-student-view-dialog>
