<div class="grid">
  <div class="col-12">
    <student-details-and-selection-card
      (studentSelected)="this.onStudentSelect($event)"
    />
  </div>
  <div class="col-12 mb-3">
    <div class="flex flex-wrap gap-2">
      <p-button
        label="Assign to Section"
        icon="pi pi-user"
        (onClick)="openAssignSectionDialog()"
        [disabled]="!selectedStudent"
      ></p-button>
      <p-button
        label="Bulk Assign to Section"
        icon="pi pi-users"
        (onClick)="openBulkAssignDialog()"
      ></p-button>
      <p-button
        label="Add Students in Bulk"
        icon="pi pi-plus"
        (onClick)="openBulkAddDialog()"
      ></p-button>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <students-overall-attendance-card
      [overAllAttendance]="this.attendanceCard.overAllAttendance"
    />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <students-on-time-card [totalOnTime]="this.attendanceCard.onTime" />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <students-late-card [totalLate]="this.attendanceCard.late" />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <students-absent-card [totalAbsent]="this.attendanceCard.absent" />
  </div>
  <div class="col-12 lg:col-8">
    <students-attendance-distribution
      [data]="this.monthlyAttendanceChartData"
      (timeRange)="this.onTimeRangeChange($event)"
    />
  </div>
  <div class="col-12 lg:col-4">
    <students-profile-information [studentInformation]="this.selectedStudent" />
  </div>
</div>

<app-assign-section-dialog
  [(visible)]="assignSectionDialogVisible"
  [sections]="sections"
  (assign)="onAssignSection($event)"
></app-assign-section-dialog>

<app-bulk-assign-dialog
  [(visible)]="bulkAssignDialogVisible"
  [sections]="sections"
  [allStudents]="allStudents"
  (assign)="onBulkAssignStudents($event)"
></app-bulk-assign-dialog>

<app-bulk-add-dialog
  [(visible)]="bulkAddDialogVisible"
  (addStudents)="onBulkAddStudents($event)"
></app-bulk-add-dialog>
