<p-card styleClass="h-full" subheader="Today's Activities">
  <div class="overflow-auto" style="height: 35rem">
    @if (this.activities.length > 0) {
      <p-timeline [value]="this.activities">
        <ng-template pTemplate="marker" let-activities>
        <span
          class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
          [style]="{ 'background-color': activities.color }"
        >
          <i [class]="activities.icon"></i>
        </span>
        </ng-template>
        <ng-template pTemplate="content" let-activities>
          <small class="p-text-secondary">
            <b> {{ activities.studentName }} </b>{{ activities.status }}
          </small>
        </ng-template>
        <ng-template pTemplate="opposite" let-activities>
          <small class="p-text-secondary">
            <span class="pi pi-fw pi-clock"></span> {{ activities.date }}
          </small>
        </ng-template>
      </p-timeline>
    } @else {
      <h1 class="text-center text-xl">No activities found</h1>
    }
  </div>
</p-card>
