<div class="surface-card shadow-2 p-3 border-round">
  <div class="flex justify-content-between mb-3">
    <div>
      <span class="block text-500 font-medium mb-3">Late Students</span>
      <div class="text-900 font-medium text-xl">{{ lateStudents }}</div>
    </div>
    <div
      class="flex align-items-center justify-content-center bg-yellow-100 border-round"
      style="width: 2.5rem; height: 2.5rem"
    >
      <i class="pi pi-clock text-yellow-500 text-xl"></i>
    </div>
  </div>
  <span class="text-green-500 font-medium"
    >{{ this.lastHourLateStudents }} new
  </span>
  <span class="text-500">since last hour</span>
</div>
