<p-card styleClass="h-full w-full shadow-3 p-2" subheader="Classroom Ranking">
  @if (loading) {
    <div class="flex justify-content-center">
      <p-progressSpinner/>
    </div>
  } @else {
    <p-table [value]="rankings" [scrollable]="true" scrollHeight="280px"
             styleClass="w-full p-datatable-gridlines p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">Rank</th>
          <th>Section</th>
          <th>Room</th>
          <th style="width: 8rem">Rate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ranking>
        <tr
          [className]="ranking.rank === 1 ? 'bg-primary' : ranking.rank === 2 ? 'bg-yellow-500 text-white' : ranking.rank === 3 ? 'bg-orange-500 text-white' : ''">
          <td>
            <div class="flex align-items-center justify-content-center">
              {{ ranking.rank }}
            </div>
          </td>
          <td>{{ ranking.classroomName }}</td>
          <td>{{ ranking.room }}</td>
          <td>
            <div class="flex align-items-center justify-content-end">
              {{ (ranking.attendanceRate * 100).toFixed(2) }}%
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-card>
