<div class="grid mt-2 gutter-right-1">
  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <app-total-students-card/>
  </div>
  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <app-ontime-students-card/>
  </div>
  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <app-late-students-card/>
  </div>
  <div class="col-12 md:col-6 lg:col-12 xl:col-3">
    <app-absent-students-card/>
  </div>
  <div class="sm:col-12 lg:col-12 xl:col-6">
    <app-total-attendance-report-card/>
  </div>
  <div class="sm:col-12 lg:col-6 xl:col-6">
    <app-announcement-card/>
  </div>
  <div class="sm:col-12 lg:col-12 xl:col-6">
    <app-daily-attendance-report-card [date]="this.dailyAttendanceReportDateRange"/>
  </div>
  <div class="sm:col-12 lg:col-12 xl:col-6">
    <app-section-ranking-card/>
  </div>
</div>
