<div class="grid mt-2">
  <div class="col-12">
    <student-details-and-selection-card (studentSelected)="this.onStudentSelect($event)"/>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <students-overall-attendance-card [overAllAttendance]="this.attendanceCard.overAllAttendance"/>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <students-on-time-card [totalOnTime]="this.attendanceCard.onTime"/>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <students-late-card [totalLate]="this.attendanceCard.late"/>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <students-absent-card [totalAbsent]="this.attendanceCard.absent"/>
  </div>
  <div class="col-12 xl:col-9">
    <students-attendance-distribution [data]="this.monthlyAttendanceChartData" (timeRange)="this.onTimeRangeChange($event)"/>
  </div>
  <div class="col-12 xl:col-3">
    <students-profile-information [studentInformation]="this.selectedStudent"/>
  </div>
</div>
