<p-table
  [value]="this.attendanceData.paginatedData"
  styleClass="w-full h-30rem overflow-auto mb-2 p-datatable-gridlines p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <i class="pi pi-id-card mr-2"></i>Student ID
      </th>
      <th>
        <i class="pi pi-flag mr-2"></i>Status
      </th>
      <th>
        <i class="pi pi-calendar mr-2"></i>Date
      </th>
      <th>
        <i class="pi pi-comment mr-2"></i>Notes
      </th>
      <th>
        <i class="pi pi-cog mr-2"></i>Actions
      </th>
    </tr>
  </ng-template>
  <ng-template let-attendance pTemplate="body">
    <tr>
      <td>{{ attendance.student.id }}</td>
      <td>
        @if (attendance.status === "ON_TIME") {
          <span class="text-green-500">
            <i class="pi pi-check mr-2"></i>ON TIME
          </span>
        } @else if (attendance.status === "LATE") {
          <span class="text-orange-500">
            <i class="pi pi-clock mr-2"></i>LATE
          </span>
        } @else {
          <span class="text-red-500">
            <i class="pi pi-times mr-2"></i>ABSENT
          </span>
        }
      </td>
      <td>{{ attendance.date | date : "MMM d, yyyy" }}</td>
      <td>
        <b
        >{{ attendance.student.firstName }},
          {{ attendance.student.lastName }}</b
        >
        <br/>
        {{ attendance.notes ? attendance.notes : "N/A" }}
      </td>
      <td>
        <p-button
          (onClick)="editAttendance(attendance)"
          icon="pi pi-pencil"
          styleClass="p-button-rounded p-button-text"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<div class="flex flex-row justify-content-between">
  <p-calendar
    (onSelect)="handleDateChange($event)"
    [readonlyInput]="true"
    [showIcon]="true"
    dateFormat="mm/dd/yy"
    placeholder="Select Date"
  ></p-calendar>
  <p-paginator
    (onPageChange)="handlePageChange($event)"
    [first]="first"
    [rowsPerPageOptions]="[10, 20, 50, 100]"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [showFirstLastIcon]="false"
    [showPageLinks]="false"
    [totalRecords]="attendanceData.totalRecords"
    currentPageReportTemplate="{first} - {last} of {totalRecords}"
  >
  </p-paginator>
</div>
