<div class="grid mt-2">
  <div class="col-12 xl:col-8 mb-1">
    <p-card subheader="List of Teachers" styleClass="h-full">
      <div class="mb-3 flex justify-content-between align-items-center">
        <div class="flex">
          <p-iconField iconPosition="left" class="mr-3">
            <p-inputIcon styleClass="pi pi-search"/>
            <input type="text" pInputText placeholder="Search"/>
          </p-iconField>
          <p-button label="Filter" styleClass="w-8rem">
          </p-button>
        </div>
        <div class="flex">
          <p-button icon="pi pi-fw pi-refresh" [severity]="'success'" size="small"
                    pTooltip="Refresh the list of teachers" rounded/>
        </div>
      </div>
      <div>
        <p-table [loadingIcon]="'pi pi-refresh'" [value]="teachers" scrollable>
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              Teachers
              <p-button icon="pi pi-plus" rounded [text]="true"/>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            @for (teacher of this.teachers; track $index) {
              <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstName }} {{ teacher.lastName }}</td>
                <td class="">
                  <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="warning"/>
                  <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="success"/>
                  <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"/>
                </td>
              </tr>
            }
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
  <div class="col-12 xl:col-4">
    <p-card subheader="Additional Information" styleClass="h-full">
      <div class="flex flex-column w-full text-center justify-content-center mb-2">
        <p-image width="256" height="256" src="/school-logo.png"/>
        <h2>
          John Doe
        </h2>
      </div>
      <div class="grid">
        <div class="col-12 xl:col-6">
          <div class="flex flex-column gap-2 mb-2">
            <label for="sex">Sex</label>
            <input
              pInputText
              id="sex"
              readonly
            />
          </div>
        </div>
        <div class="col-12 xl:col-6">
          <div class="flex flex-column gap-2 mb-2">
            <label for="middleInitial">Middle Initial:</label>
            <input
              pInputText
              id="middleInitial"
              readonly
            />
          </div>
        </div>
        <div class="col-12 xl:col-6">
          <div class="flex flex-column gap-2 mb-2">
            <label for="age">Age:</label>
            <input
              pInputText
              id="age"
              readonly
            />
          </div>
        </div>
        <div class="col-12 xl:col-6">
          <div class="flex flex-column gap-2 mb-2">
            <label for="position">Position:</label>
            <input
              pInputText
              id="position"
              readonly
            />
          </div>
        </div>
        <div class="col-12 xl:col-6">
          <div class="flex flex-column gap-2 mb-2">
            <label for="contactNumber">Contact Number:</label>
            <input
              pInputText
              id="contactNumber"
              readonly
            />
          </div>
        </div>
        <div class="col-12 xl:col-6">
          <div class="flex flex-column gap-2 mb-2">
            <label for="emergencyContact">Emergency Contact:</label>
            <input
              pInputText
              id="emergencyContact"
              readonly
            />
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
