<p-toast/>
<!-- ! Create Teacher Dialog -->
<p-dialog [(visible)]="this.showDialog" [modal]="true" header="Add Teacher" styleClass="w-30rem">
  <div class="grid">
    <form action="" class="w-full" [formGroup]="this.addTeacherFormGroup">
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="firstName">First Name</label>
          <input
            pInputText
            id="firstName"
            class="w-full"
            placeholder="Please enter their first name"
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="middleInitial">Middle Initial:</label>
          <input
            pInputText
            id="middleInitial"
            placeholder="Enter middle initial (Optional)"
            formControlName="middleInitial"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="lastName">Last Name:</label>
          <input
            pInputText
            id="lastName"
            placeholder="Please enter their last name"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="age">Age:</label>
          <input
            pInputText
            id="age"
            placeholder="Age"
            formControlName="age"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="sex">Sex:</label>
          <p-dropdown
            id="sex"
            [options]="['Male', 'Female']"
            styleClass="w-full"
            formControlName="sex"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="position">Position:</label>
          <p-dropdown
            id="position"
            [options]="this.teacherPositions"
            styleClass="w-full"
            formControlName="position"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="contactNumber">Contact Number:</label>
          <input
            pInputText
            id="contactNumber"
            placeholder="Their contact number (Optional)"
            formControlName="contactNumber"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="emergencyContact">Emergency Contact:</label>
          <input
            pInputText
            id="emergencyContact"
            placeholder="Please enter their emergency contact"
            formControlName="emergencyContact"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2 mb-2">
          <label for="profilePicture">Profile Picture:</label>
          <p-fileUpload
            mode="basic" [accept]="'image/*'"
            chooseLabel="Choose"
            chooseIcon="pi pi-pencil"
            [fileLimit]="1"
            [maxFileSize]="8000000"
            styleClass="w-full"
            name="profilePicture"
            id="profilePicture"
            pTooltip="Profile Picture"
            (onSelect)="this.onProfilePictureChange($event)"
          />
        </div>
      </div>
      <div class="col-12 flex justify-content-center">
        <div class="flex justify-content-end gap-2">
          <p-button label="Cancel" severity="secondary" (onClick)="this.showDialog = false"/>
          <!--          <p-button label="Save" (onClick)="this.addTeacher()" [disabled]="!this.addTeacherFormGroup.valid" />-->
          <p-button label="Save" (onClick)="this.addTeacher()"/>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
