<p-menubar>
  <ng-template pTemplate="start">
    <span class="flex align-items-center" href="" style="text-decoration: none;">
      <p-avatar class="mr-2" image="/school-logo.png"></p-avatar>
      <span class="font-bold">Punturin <span class="text-green-800">SHS</span></span>
    </span>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <p-iconField>
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
        <input class="w-15rem" pInputText placeholder="Search" style="height: 2.2rem" type="text"/>
      </p-iconField>
      <p-avatar (click)="menu.toggle($event)" [image]="this.PROFILE_PICTURE_URL" shape="circle">
      </p-avatar>
    </div>    <!-- PrimeNG Dropdown Avatar -->
    <p-tieredMenu #menu [model]="adminAvatarMenu" [popup]="true">
    </p-tieredMenu>
  </ng-template>
</p-menubar>
