<div class="container-fluid h-23rem w-full overflow-auto">
  @for (processedAnnouncement of processedAnnouncements; track $index) {
    <p-panel [toggleable]="true" styleClass="mb-2">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <p-avatar
            [image]="processedAnnouncement.profilePictureUrl"
            shape="circle"
            size="normal"
          />
          <span class="font-bold">{{ processedAnnouncement.announcement.user.teacher?.lastName }}
            , {{ processedAnnouncement.announcement.user.teacher?.firstName }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex flex-wrap align-items-center justify-content-between gap-4">
          <div class="flex align-items-center gap-2">
            <p-button icon="pi pi-user" rounded text></p-button>
            <p-button
              icon="pi pi-bookmark"
              severity="secondary"
              rounded
              text
            ></p-button>
          </div>
          <span class="text-surface-500 dark:text-surface-400"
          >Updated {{ processedAnnouncement.timeUpdatedAgo }}</span
          >
        </div>
      </ng-template>
      <p>
        {{ processedAnnouncement.announcement.content }}
      </p>
    </p-panel>
  }
</div>
